RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?anl-civ.com$
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1
RewriteCond %{HTTP_HOST} ^(www.)?anl-civ.com$
RewriteRule ^(/)?$ public/index.php [L]
