* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    font-family: cursive !important;
    background-color: #0f0e17;
    overflow-x: hidden;
  }

  .sections-title {
    color: #fffffe;
    font-size: 1.4rem;
    letter-spacing: 10px;
    text-shadow: 0px -6px 0 #212121, 0px -6px 0 #212121, 0px 6px 0 #212121, 0px 6px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px -6px 0 #212121, 6px -6px 0 #212121, -6px 6px 0 #212121, 6px 6px 0 #212121, -6px 18px 0 #212121, 0px 18px 0 #212121, 6px 18px 0 #212121, 0 19px 1px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.1), 0 6px 3px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2), 0 18px 18px rgba(0, 0, 0, 0.25), 0 24px 24px rgba(0, 0, 0, 0.2), 0 36px 36px rgba(0, 0, 0, 0.15);
  }

  a.btn {
    background-color: #ff8906;
    color: #fff;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }
  a.btn:hover {
    background-color: #fff;
    color: #ff8906;
  }

  .navbar {
    background-color: #000;
  }
  .navbar .navbar-brand {
    color: #ff8906;
  }
  .navbar .navbar-brand:hover {
    color: #fff;
  }
  .navbar .nav-item {
    padding: 0 1rem;
  }
  .navbar .nav-item a.nav-link {
    color: #ff8906;
  }
  .navbar .nav-item a.nav-link:hover {
    color: #fff;
  }
  .navbar .nav-item a.active {
    background-color: #ff8906;
    color: #fff !important;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  /* header {
    background-image: linear-gradient(to bottom, rgba(190, 190, 191, 0.52), rgba(112, 13, 87, 0.73)), url("../images/header-plat2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75vh;
    color: #fff;
    -webkit-clip-path: polygon(100% 0, 100% 79%, 0 88%, 0 0);
            clip-path: polygon(100% 0, 100% 79%, 0 88%, 0 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header-title {
    text-align: center;
  }
  header .header-title p {
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 0px -6px 0 #212121, 0px -6px 0 #212121, 0px 6px 0 #212121, 0px 6px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px -6px 0 #212121, 6px -6px 0 #212121, -6px 6px 0 #212121, 6px 6px 0 #212121, -6px 18px 0 #212121, 0px 18px 0 #212121, 6px 18px 0 #212121, 0 19px 1px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.1), 0 6px 3px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2), 0 18px 18px rgba(0, 0, 0, 0.25), 0 24px 24px rgba(0, 0, 0, 0.2), 0 36px 36px rgba(0, 0, 0, 0.15);
  }
  header .header-title p.p-one {
    margin-right: 5rem;
  }
  header .header-title p.p-two {
    margin-right: -5rem;
  }
  header .header-title p.p-three {
    margin-left: 16rem;
  } */

  .about {
    width: 100%;
    color: #fff;
    background-color: #282A3A;
    padding: 1.3rem;
    margin-bottom: 3rem;
  }

  .categories .card {
    color: #fff;
    background-color: #282A3A;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
  }
  .categories .card .card-body .card-text {
    font-size: 0.8rem;
  }
  .categories .card:hover {
    box-shadow: rgba(252, 247, 247, 0.849) 0px 5px 15px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    cursor: pointer;
  }
  @media only screen and (max-width: 767.98px) {
    .categories .card:hover {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }
  }

  footer {
    margin-top: 5rem;
    margin-bottom: 0;
  }
  footer .sections-title {
    margin-bottom: 4rem;
  }
  footer .footer-columns .title {
    font-size: 1rem !important;
    color: #fff;
  }
  footer .footer-columns ul {
    padding: 0;
  }
  footer .footer-columns ul li {
    list-style: none;
    color: #fff;
    margin-bottom: 1rem;
  }
  footer .footer-columns ul li a {
    color: #ff8906;
    font-size: 0.8rem;
    text-decoration: none;
  }
  footer .social ul li a {
    width: 60%;
    height: 60%;
    border-left: 2px solid red;
    background-color: #fff;
    padding: 0.5rem 0.3rem;
  }
  footer .copyright {
    margin-top: 3rem;
    font-size: 0.7rem;
  }/*# sourceMappingURL=main.css.map */



/* styling the dropdown */

